*{
    margin: 0;
    overflow-x: hidden;
    transition: ease-in-out 0.2s;
    transition: ease-in 0.2s;
    /* background-image: url(./imgs/doodle-travel-background_23-2148044879.avif); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: top;
}

@font-face {
    font-family: 'oi'; 

   
src: url(./imgs/Hey\ August.ttf);
} 
.containerpai{
    background-image: url(./imgs/fundo.jpg);
}

.menu{
    list-style: none;
    /* margin: 0; */
    /* padding: 0; */
    overflow: hidden;
    background-color: rgba(109, 141, 118, 0.5);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    
    
    
}

.limenu{
    float: left;
}

.amenu{
    display: block;
    text-align: center;
    padding: 16px 16px;
    /* justify-self: start; */
    font-size: 20px;
}

.img{
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-left: 3px;
}

.amenu1{
    display: block;
    text-align: center;
    padding: 16px 16px;
    justify-self: start;
    font-size: 20px;
    background-color: #a7b381;
    border-radius: 5px;
    margin-right: 45px;
    margin-left: 10px;
   
  

}


.amenu:hover{
    border-bottom: 3px solid rgb(116, 39, 39);
    background-color: rgba(0, 0, 255, 0.3);

}

.limenu1:hover{
transform: translateY(-0.5px) scale(1.02);
 transition: ease-in 0.2s;
 transition: ease-out 0.2s;
 transition: ease-in-out 0,2s;
} 

.container{
    
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    
    
    justify-content: center;
    

}

.imagemfundo{
    background-image: url(./imgs/borral7.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position-y: -250px;
    background-size: 100vw;
    overflow: visible;

}

.escrita{
    font-family: oi;
    color: rgb(239, 239, 239);
    font-size: 6em;
    /* font-weight:bold; */
    margin-bottom: 75px;
    /* -webkit-text-stroke: 0.7px rgb(5, 130, 43); */
}

.container3{
    /* background-color: chartreuse; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    
    
}

.cimacon3{
    /* background-color: chocolate; */
    width: 100vw;
    height: 50vh;
   
}

.textocimacon3{
    width: 35vw;
    margin-top: 80px;
    margin-right: 125px;
    height: 25vh;
    background-color: rebeccapurple;
    float: right;
  
}

.imgcimacon3{
    background-color: red;
    width: 45vw;
    height: 45vh;
    margin-left: 30px;
    margin-top: 10px;
}

.baixocon3{
    /* background-color: rgb(0, 0, 0); */
    width: 100vw;    
    height: 50vh;
    align-self: flex-end;
}

.textobaixocon3{
    width: 35vw;
    margin-top: 80px;
    margin-right: 125px;
    height: 25vh;
    background-color: rebeccapurple;
    float: right;
}

.imgbaixocon3{
    background-color: rgb(7, 255, 172);
    width: 45vw;
    height: 45vh;
    margin-left: 30px;
    margin-top: 10px;
}

.container4{
    /* background-color: rgb(0, 9, 138); */
    width: 100vw;
    height: 100vh;
    display: flex;    
    overflow: hidden;
   

    
   
}

.cardcon{
    background-color: blue;
    width: 30vw;
    height: 45vh;
    margin-left: 1vw;
    border-radius: 11px;
    align-self: center;
   
    
}

.card{
    background-color: cadetblue;
    width: 30vw;
    height: 45vh;
    position: absolute;
    transform: translate(0px,0px);
    border-radius: 11px;
    z-index: 2;
}

.cardtexto{
    background-color: yellow;
    width: 18vw;
    height: 45vh;
    border-radius: 12px;
    transform: translate(0px,0px);
    position: absolute;
    margin-left: 100px;
    transition: ease-in-out 0.2s;
}


.cardcon:hover{

    .cardtexto{
        transform: translate(290px,0px);
        transition: ease-in-out 0.2s;
    }
}       

.cardcon1{
 background-color: blue;
 width: 30vw;
 height: 45vh;
 margin-left: 20vw;
 border-radius: 11px;
 align-self: center;
}   

.card2{
    background-color: cadetblue;
    width: 30vw;
    height: 45vh;
    position: absolute;
    transform: translate(0px,0px);
    border-radius: 11px;
    z-index: 2;
}

.cardtexto2{
    background-color: yellow;
    width: 18vw;
    height: 45vh;
    border-radius: 12px;
    transform: translate(0px,0px);
    position: absolute;
    margin-left: 100px;
    transition: ease-in-out 0.2s;
}

.cardcon1:hover{

    .cardtexto2{
        transform: translate(290px,0px);
        transition: ease-in-out 0.2s;
    }
}       






